---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import MainHero from "../components/MainHero.astro";
---

<Layout title="Anti-Relleno ">
  <header>
    <Navbar />
  </header>

  <main>
    <MainHero />
  </main>
</Layout>
