---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import MainHero from "../components/MainHero.astro";
import AnimeFeed from "../components/AnimeFeed.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Aniflow - Tu fuente de anime personalizada">
  <Navbar />

  <main>
    <MainHero />
    <AnimeFeed />
  </main>
  <Footer />
</Layout>
