---
import { getCollection } from "astro:content";

const allAnime = await getCollection("anime");

const randomIndex = Math.floor(Math.random() * allAnime.length);
const randomAnime = allAnime[randomIndex];

const { title, synopsis, coverImage } = randomAnime.data;
---

<div class="relative w-full h-180 overflow-hidden">
  <!-- IMAGEN -->
  <img
    src={coverImage}
    alt={title}
    class="w-full h-full object-cover blur-md scale-110"
  />

  <!-- OVERLAY OSCURO GENERAL -->
  <div class="absolute inset-0 bg-bg-light/10 dark:bg-bg-dark/10"></div>

  <div
    class="absolute bottom-0 left-0 right-0 h-40 bg-linear-to-b bg-transparent via-bg-light/30 to-bg-light dark:via-bg-dark/60 dark:to-bg-dark"
  >
  </div>

  <!-- CONTENIDO -->
  <div
    class="absolute inset-0 flex flex-col justify-end text-text-light dark:text-text-dark"
  >
    <div class="m-10">
      <p
        class="rounded-lg bg-[#088963] px-2 py-0.5 max-w-max text-[#e6fff7] text-xs font-bold uppercase mb-2"
      >
        Randomizer
      </p>

      <div class="space-y-3">
        <h1 class="text-4xl font-extrabold max-w-2xl drop-shadow-md">
          {title}
        </h1>

        <p
          class="text-lg max-w-2xl line-clamp-3 text-text-light dark:text-text-dark"
        >
          {synopsis}
        </p>

        <button
          class="bg-primary font-bold rounded-md px-6 py-2 hover:bg-[#0056B3] transition-colors cursor-pointer"
        >
          IR
        </button>
      </div>
    </div>
  </div>
</div>
