---
import { getCollection } from "astro:content";

const allAnime = await getCollection("anime");
const animeData = allAnime.map((a) => ({
  id: a.id,
  title: a.data.title,
  slug: a.data.slug,
}));

const location = Astro.url.pathname;
---

<header
  class="sticky top-0 left-0 right-0 m-auto z-50 py-3 px-4 bg-bg-light/40 backdrop-blur-md dark:bg-bg-dark/40 shadow-md border-b border-white/10"
>
  <div class="flex items-center gap-4 max-w-7xl mx-auto">
    <a
      href="/"
      aria-label="Aniflow Logo"
      class="text-primary dark:text-primary text-2xl uppercase font-black whitespace-nowrap"
    >
      Aniflow
    </a>

    <nav class="hidden md:flex items-center">
      <ul class="flex gap-6">
        <li class="flex flex-col">
          <a
            href="/"
            class="font-medium text-text-light transition-colors hover:text-primary dark:text-text-dark dark:hover:text-primary"
          >
            Inicio
          </a>

          <div
            class={`mt-1 h-0.5 w-full origin-left rounded-full bg-primary transition-transform duration-300 ${
              location === "/" ? "scale-x-100" : "scale-x-0"
            }`}
          >
          </div>
        </li>

        <li class="flex flex-col">
          <a
            href="/animes"
            class="font-medium text-text-light transition-colors hover:text-primary dark:text-text-dark dark:hover:text-primary"
          >
            Animes
          </a>

          <div
            class={`mt-1 h-0.5 w-full origin-left rounded-full bg-primary transition-transform duration-300 ${
              location === "/animes" ? "scale-x-100" : "scale-x-0"
            }`}
          >
          </div>
        </li>
        <li class="flex flex-col">
          <a
            href="/about"
            class="font-medium text-text-light transition-colors hover:text-primary dark:text-text-dark dark:hover:text-primary"
          >
            About
          </a>

          <div
            class={`mt-1 h-0.5 w-full origin-left rounded-full bg-primary transition-transform duration-300 ${
              location === "/about" ? "scale-x-100" : "scale-x-0"
            }`}
          >
          </div>
        </li>
      </ul>
    </nav>

    <div class="flex items-center gap-2 ml-auto">
      <button
        id="theme-toggle"
        class="p-2 rounded-lg hover:bg-primary hover:text-white transition-all cursor-pointer"
        aria-label="Cambiar tema"
      >
        <svg
          id="sun-icon"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 hidden dark:block"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 3v1m0 16v1m9-10h1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707-.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
          ></path>
        </svg>
        <svg
          id="moon-icon"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 block dark:hidden"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</header>
<script is:inline>
  const btn = document.getElementById("theme-toggle");

  btn?.addEventListener("click", () => {
    const changeTheme = () => {
      document.body.classList.add("no-theme-transition");
      const isDark = document.documentElement.classList.toggle("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
      requestAnimationFrame(() => {
        requestAnimationFrame(() => {
          document.body.classList.remove("no-theme-transition");
        });
      });
    };

    if (!document.startViewTransition) {
      changeTheme();
      return;
    }

    document.body.classList.add("no-theme-transition");
    const transition = document.startViewTransition(changeTheme);

    transition.ready.then(() => {
      document.documentElement.animate(
        {
          clipPath: ["inset(0 0 100% 0)", "inset(0)"],
        },
        {
          duration: 600,
          easing: "ease-in-out",
          pseudoElement: "::view-transition-new(root)",
        },
      );
    });

    transition.finished.then(() => {
      document.body.classList.remove("no-theme-transition");
    });
  });
</script>
