---

---

<header class="py-2 px-4 mx-auto max-w-7xl">
  <div class="flex justify-between items-center">
    <!-- Logo -->
    <div class="text-center">
      <h1 class="text-white text-4xl uppercase font-black">Aniflow</h1>
    </div>

    <!-- Menu -->
    <div class="flex">
      <nav class="ml-auto">
        <ul class="flex space-x-4">
          <li><a href="#" class="text-white hover:text-gray-300">Inicio</a></li>
          <li><a href="#" class="text-white hover:text-gray-300">Animes</a></li>
          <li><a href="#" class="text-white hover:text-gray-300">Manga</a></li>
        </ul>
      </nav>
    </div>

    <!-- Search -->
    <div class="flex items-center">
      <input
        type="text"
        placeholder="Buscar..."
        class="bg-gray-800 text-white placeholder:text-gray-500 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <!-- Dark/Light button -->
    <div class="flex items-center ml-4">
      <button class="text-white hover:text-gray-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 3v1m0 16v1m9-10h1M4 12H3m15.364 6.364l-.707.707M6.343 6.343l-.707-.707m12.728 0l-.707-.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</header>
